.qcr-form{
   
    height: auto;
    border: 1px solid red;
}

.row{
    display: flex;
    border: 1px solid green;
    flex-wrap: wrap;
    padding: 2px;
    margin: 3px;
    
}

.column{
     border:1px solid blue;
    display: flex;
    flex-direction: column;
   
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }