.qcr-container {
    margin: 0;

    position: relative;

    background-color: #ecf0f3;
    display: flex;



   
    font-family: poppins;
}



.qcr-form {
    border-top:10px solid #114c38;
    border-radius: 10px;
    position: absolute;
   
    top: 62px;
    left: 110px;
    z-index: 1;
    box-sizing: border-box;
    background-color: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1,
        -14px -14px 20px white;
    padding:10px 20px;
    margin:10px 70px ;
    height: max-content;



}

.row {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    padding: 2px;
    margin: 1px 3px;

}

.column {

    display: flex;
    flex-direction: column;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    overflow: auto;
    width: 100%;
    background-color: #114c38;
    box-shadow: inset 3px 3px 5px #b8b9be, inset -3px -3px 7px #fff;
}

table:first-child {
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    border-radius: 4px;
    margin-top: 4px;

}
.header{
    box-shadow: 3px -3px 6px #114c38, -3px -px 6px #fff;
    background-color: #13513b;
}
th {
    color: white;
    
   
}

td,
th {

    text-align: left;
    padding: 8px;
}



.qcr-form label,
.qcr-form input,.sidebar input {


    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}


.qcr-form input,.sidebar input {
    margin: 5px;

    background: #ecf0f3;
    padding: 10px;
    padding-left: 10px;

    font-size: 14px;
    border-radius: 8px;
    box-shadow: inset 6px 6px 6px #cbced1,
        inset -6px -6px 6px white;
    transition: 0.5s;
}

input[type="checkbox"] {

    border: none;
    height: 20px;
    width: 20px;
    background-color: #ebf5fc;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

input[type="checkbox"]:checked {


    box-shadow: inset 6px 6px 6px #cbced1,
        inset -6px -6px 6px white;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

select {
    color: #989a9c;

    outline: none;
    border-radius: 5px;
    border: none;
    padding: 8px;
    background-color:#146047;
    box-shadow: 3px 3px 6px #146047, -3px -px 6px #13513b;
}


.jcsb {
    justify-content: space-between;
}

.center {

    margin-top: 12px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.border {
    border: 1px solid red;
}

.check-info {
    color: #13513b;
    font-weight: 800 ;
}




.flex-1 {
    flex-grow: 1;
}

.flex-2 {
    flex-grow: 2;
}

.flex-3 {
    flex-grow: 3;
}

.flex-4 {
    flex-grow: 4;
}

.flex-5 {
    flex-grow: 5;
}

.flex-6 {
    flex-grow: 6;
}

.flex-7 {
    flex-grow: 7;
}

.flex-8 {
    flex-grow: 8;
}



/*.pagination{
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.55rem;
}

ul li {
    font-family: "Nunito Sans",sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
}

.page-link {
    border: 0;
    background-color: #e6e7ee;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.55rem;
    border-bottom-left-radius: 0.55rem;
}

.page-item .page-link, .page-item span {
    margin: 0 4px;
    font-size: .875rem;
    color: #31344b;
    font-weight: 600;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
  
    line-height: 1.25;
    
    
}

a {
    text-decoration: none;
    transition: all 0.2s ease;
}*/

input[type="button"]{
    box-shadow: 3px 3px 6px #b8b9be, -3px -675px 6px #fff;
    cursor: pointer;
}






input[type="button"]:hover{
    box-shadow: inset 3px 3px 6px #b8b9be,inset -3px -3px 6px #fff;
}


.sidebar{
    position: absolute;
    top:72px;
    right: 15%;
   
    border-top:10px solid #114c38;
    border-radius: 10px;
    padding:10px 20px;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 176px #fff;
}

